#hanger {
height: 385px;
width: 410px;
position: absolute;
top: 0px;
left: 0px;
display: block;
background-color: green;
}

#Wordspace {
  display: block;
position: absolute;
top: 0%;
left: 30%;
height: 25%;
width: 60%;
background-color: #ffa31a;
padding-top: 2%;
}

#LoseWin {
        display: none;
    position: absolute;
    z-index: 25;
    height: 46%;
    width: 62%;
    background-color: #0099ff;
    top: 15%;
    left: 17%;
    font-size: 71px;
    color: #ffb31a;
    font-family: Georgia;
    text-align: center;
    padding-top: 67px;
}

.empty {
  display: inline;
margin-left: 3%;
top: 5%;
position: relative;
}

#LetterBoard {
  list-style: none;
  position: absolute;
  display: inline-block;
  width: 50%;
  top:30%;
  left: 35%;
}

div > ul {
  position: relative;
  display: inline-block;
  margin-right: 10%;
}

div> ul > li {
  padding-bottom: 10px;
}
